html{
    background: url(../images/bg.jpg) 100%;
    background-size: cover;
    background-attachment: fixed;
}
body{
    
    margin-top: 0px;
    margin: 0px;
}
header{
    margin: auto;
    margin-top: 30px;
    height: 70px;
    width: 80%;
    width: 1200px;
    background-color: rgba(45,46,48, .5);
}
.header_not_logo, #logo, #info{
    transition: 0.4s;
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
}
#logo{
    margin-top: 20px;
    width: 127px;
    height: 29px;
    font-size: 25px;
    margin-left: 18px;
}
#logo:hover{
    text-shadow: 1px 1px 25px white;
}

.header_not_logo{
    height: 70px;
    width: 92px;
}
.header_not_logo:hover{
    background-color: rgba(8,53,86, .8);
}
.header_not_logo span{
    text-align: center;
    width: 92px;
    position: absolute;
    margin-top: 25px;
    
}
#forum{
    margin-left:159px;
}

#rules{
    margin-left: 249px;
}

#donate{
     margin-left: 339px;
}

.info{
    transition: 0.4s;
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    height: 70px;
    width: 92px;
    margin-left: 429px;
}
#info_span{
    text-align: center;
    width: 92px;
    position: absolute;
    margin-top: 25px;
}
.info_hover:hover{
    background-color: rgba(8,53,86, .8);
}
#info{
    width: 139px;
}
.info_light{
    color: black;
    background-color: white;
}
.info_span_light, .info_triangle_light{
    color: black;
}

#triangle{
    font-size: 10px;
    width: 11px;
}

.info_list{
    z-index: 1;
    margin-left: 429px;
    display: none;
    transition: 0.5s all;
    padding: 0px;
    width: 139px;
    font-size: 20px;
    margin-top: 70px;
    position: absolute;
}
.info_list ul{
    padding: 0px;
    margin: 0px;
    background-color: white;
    list-style: none;
}
.info_list ul li a{
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    display: block;
    text-align: center;
    width: 139px;
    color: black;
    text-decoration: none;
}
.info_list li{
    transition: 0.5s all;
    width: 139px;
}
.info_list ul li:hover{
    background-color: #4CD0E1;
}
.info_list_visible{
   display: block;
}
.sign{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    height: 16px;
    border: 1px solid #588086; 
    margin-top: 14px;
    padding: 10px 5px 15px 5px;
    height: 16px;
}
.sign:hover{
    color: white;
    background-color: rgba(45,46,48, 0);
    border: 1px solid #03a9f4;
}
.info_list span{
    margin-right: 4px;
}
#FAQ{
    width: 112px;
    text-align: left;
    padding-left: 27px;
}
#sign_in{
    margin-left: 900px;
}
#sign_up{
    margin-left: 1015px;
    width: 160px;
}
#sign_up_icon{
    position: static;
    margin-left: 5px;
    width: 20px;
}
#sign_in_icon{
    position: static;
    margin-left: 5px;
    width: 20px;
}
.news{
    box-shadow: 0 0 50px #000000 inset;
    background-image: url(../images/bg.jpg);
    height: 240px; 
    position: absolute;
    margin: auto;
    width: 800px;
}
.block{
    margin-left: 850px;
    position: absolute
    margin: auto;
    width: 350px;
}
.main{
    padding-top: 40px;
    width: 1200px;
    margin: auto;
}
.img_news{
    border: 1px solid black;
    width: 798px;
    height: 200px;
}
.newses{
    position: absolute;
    width: 100px;
    height: 1000px;
}
.more{
    margin-top: 208px;
    left: 590px;
    height: 25px;
    width: 200px;
    background-color: red;
    position: absolute;
}

   